.testimonials {
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

.pattern1,
.pattern2,
.pattern3 {
    position: absolute;
    z-index: var(--zindex-background);
}

.pattern1 {
    width: 90%;
    height: 45%;
    top: 2.5rem;
    left: 5%;
}

.pattern2 {
    width: 65%;
    height: 15%;
    bottom: 0;
    left: 0;
}

.pattern3 {
    width: 25%;
    height: 10%;
    top: 55%;
    left: 37.5%;
}

.card {
    width: inherit;
    min-width: inherit;
    height: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
}

.card-container {
    width: 65%;
    margin-top: 5rem;
    position: relative;
}

.card-img-top {
    border-radius: var(--border-radius-image);
}

.btn-group {
    position: absolute;
    bottom: calc(-30.67px / 2);
    left: calc(50% - calc(92.75px / 2));
}

.btn {
    border: none;
}

.right {
    border-top-right-radius: var(--border-radius-btn);
    border-bottom-right-radius: var(--border-radius-btn);
}

.left {
    border-top-left-radius: var(--border-radius-btn);
    border-bottom-left-radius: var(--border-radius-btn);
}

.button-arrow {
    height: 60%;
}

.card-body {
    width: 90%;
    height: fit-content;
    flex: none;
}