.testimonials {
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

.pattern1,
.pattern2,
.pattern3 {
    position: absolute;
    z-index: var(--zindex-background);
}

.pattern1 {
    width: 90%;
    height: 45%;
    top: 2.5rem;
    left: 5%;
}

.pattern2 {
    width: 65%;
    height: 10%;
    bottom: 0;
    left: 0;
}

.pattern3 {
    width: 20%;
    height: 8%;
    top: 50%;
    left: 37.5%;
}

.card {
    width: inherit;
    min-width: inherit;
    height: inherit;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
}

.card-container {
    width: 65%;
    margin-top: 5rem;
    position: relative;
}

.card-img-top {
    border-radius: var(--border-radius-image);
}

.btn-group {
    position: absolute;
    bottom: calc(-29.88px / 2);
    left: calc(50% - calc(64px / 2));
}

.btn {
    border: none;
}

.right {
    border-top-right-radius: var(--border-radius-btn);
    border-bottom-right-radius: var(--border-radius-btn);
}

.left {
    border-top-left-radius: var(--border-radius-btn);
    border-bottom-left-radius: var(--border-radius-btn);
}

.button-arrow {
    height: 60%;
}

.card-body {
    width: 90%;
    height: fit-content;
    padding: 0;
    margin-top: 6rem;
    flex: none;
    text-align: center;
}

.card-text {
    margin-bottom: 2rem;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-normal);
    color:var(--color-option3);
}

.card-name {
    margin-bottom: 0;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    color: var(--color-option1);
}

.card-occupation {
    margin-bottom: 0;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-option2);
}