:root {
    --color-option1: hsl(240, 38%, 20%);
    --color-option2: hsl(240, 18%, 77%);
    --color-option3: grey;

    --font-family: 'Inter', sans-serif;
    
    --font-size-large: 3rem;
    --font-size-medium: 2rem;
    --font-size-small: 1.5rem;

    --font-weight-light: 300;
    --font-weight-normal: 500;
    --font-weight-bold: 700;

    --zindex-background: 0;
    --zindex-dropdown: 1000;
    --zindex-sticky: 1020;
    --zindex-fixed: 1030;
    --zindex-modal-backdrop: 1040;
    --zindex-modal: 1050;
    --zindex-popover: 1060;
    --zindex-tooltip: 1070;

    --border-radius-image: .75rem;
    --border-radius-btn: 45%;
}